[Unit]
Description=Suspend timer (suspender) service

[Service]
ExecStart=/usr/bin/suspender
Restart=always
User=root

[Install]
WantedBy=multi-user.target
